@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: whitesmoke;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: whitesmoke;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  font-family: 'Lora', serif;
  padding: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
